{
	{$CADDY_GLOBAL_OPTIONS}
	admin off
	frankenphp
}

:8080 {
	root /app/public
	encode zstd br gzip

	@maintenance expression "{$MAINTENANCE:0}" == "1"
	handle @maintenance {
		header Retry-After 3600
		rewrite * /maintenance.html
		file_server {
			status 503
		}
	}

	@assets path /assets/*
	header @assets Cache-Control "public, max-age=31536000, immutable"

	php_server
}
